mixin claimbox-darkness(number)
	+hidden-input(`claim_${number}_check`)(value='0')
	.claimbox-darkness
		label
			+checkbox(`claim_${number}_check`).checkbox.squarebox-small
		+textarea(`claim_${number}_name`).label
		+textarea(`claim_${number}_desc`).claim-desc

mixin claimbox-neutral(number)
	+hidden-input(`claim_${number}_check`)(value='0')
	.claimbox-neutral
		label
			+checkbox(`claim_${number}_check`).checkbox.squarebox-small
		+textarea(`claim_${number}_name`).label
		+textarea(`claim_${number}_desc`).claim-desc

mixin claimbox-light(number)
	+hidden-input(`claim_${number}_check`)(value='0')
	.claimbox-light
		label
			+checkbox(`claim_${number}_check`).checkbox.squarebox-small
		+textarea(`claim_${number}_name`).label
		+textarea(`claim_${number}_desc`).claim-desc

mixin claimbridge(number, type)
	label(class=['claimbridge', type === 'vert' ? 'claims-vertsep' : 'claims-horisep'])
		+checkbox(`claim_bridge_${number}`)(checked)

mixin makeupgrade(number, numboxes, def, desc)
	.col50
		.item
			+checkbox(`upgrade_${number}_check_1`).checkbox.squarebox
			if (numboxes === 2)
				+checkbox(`upgrade_${number}_check_2`).checkbox.squarebox
			+text-input(`upgrade_${number}_name`, def).itemname
		.item-description
			+checkbox(`upgrade_${number}_expand`).expand
			+textarea(`upgrade_${number}_description`, desc)(data-i18n-placeholder='description')

mixin makeupgrade100(number, numboxes, def, desc)
	.col100
		.item
			+checkbox(`upgrade_${number}_check_1`).checkbox.squarebox
			if (numboxes === 2)
				+checkbox(`upgrade_${number}_check_2`).checkbox.squarebox
			+text-input(`upgrade_${number}_name`, def).itemname
		.item-description
			+checkbox(`upgrade_${number}_expand`).expand
			+textarea(`upgrade_${number}_description`, desc)(data-i18n-placeholder='description')

// Crew Sheet
.type-crew.flex
	// Left column
	.col55.flex-wrap
		// Logo, Header text fields
		.col100.header.flex-wrap
			.col55.bladeslogo
			.col45.crewheader.label(data-i18n='crew_sheet')
			label.col55
				+text-input('crew_name')
				.label.text.title(data-i18n='name')
			label.col45
				+text-input('reputation')
				.label.text.title(data-i18n='reputation')
			label.col100
				+text-input('lair')
				.label.text.title(data-i18n='lair')
		// Rep, Hold, and Tier
		.col100.flex.rep-and-hold.def-margin
			.rep.flex.col45
				.rep1.blackheader
					.label(data-i18n='rep')
				.rep2.blackborder.flex
					.turfbox
						each num in range(1,3)
							+radio('turf')(value=num)
					+hidden-input('turf')(value='0').turf-input
					+radio('rep')(value='0', checked).tooth.zero
					//- generates 12 rep boxes. The complicated code for the class assigns the necessary CSS classes for turf to work correctly
					each num in range(1,12)
						+radio('rep')(class=['tooth', 'stresstooth', ...((num < 10) ? [] : [...Array(num-6).keys()].map(x => `turf${6-x}`))], value=num)
				.rep3.blackborder
					.black-on-grey
						.label(data-i18n='turf')
					.turfzero-holder
						+radio('turf')(value='0', checked).zero
			// Hold
			.hold.flex
				.hold1.blackheader
					.label(data-i18n='hold')
				label.blackborder
					.black-on-grey
						.label(data-i18n='weak')
					+radio('hold')(value='weak').tooth.holdtooth
				label.blackborder
					.black-on-grey
						.label(data-i18n='strong')
					+radio('hold')(value='strong', checked).tooth.holdtooth
				// Tier
				.blackheader
					+roll('Tier', '{{resist=1}} {{short=1}} {{title=^{crew_tier}}} {{subtitle=^{roll_their}}} @{crew_tier_formula}')(data-i18n='tier').label.inherit.rollbutton
					+hidden-input('crew_tier_formula')(value=zerodiceFormula)
				.tier.flex
					+hidden-checkbox('crew_tier')(value='0', checked).fakeradio
					//- generates 4 tier circles
					each num in range(1,4)
						+checkbox('crew_tier')(value=num).checkbox.circlebox.fakeradio
		// Claims
		.claims.col100.free-repcontrol
			.claimsrow.flex
				+claimbox-darkness(1)
				+claimbridge('1_2', 'hori')
				+claimbox-neutral(2)
				+claimbridge('2_3', 'hori')
				+claimbox-neutral(3)
				+claimbridge('3_4', 'hori')
				+claimbox-light(4)
				+claimbridge('4_5', 'hori')
				+claimbox-light(5)
			.claims-seprow.flex
				each num in range(1,5)
					+claimbridge(`${num}_${num+5}`, 'vert')
			.claimsrow.flex
				+claimbox-darkness(6)
				+claimbridge('6_7', 'hori')
				+claimbox-darkness(7)
				+claimbridge('7_8', 'hori')
				.lairbox.flex-center.uppercase(data-i18n='equilibrium')
				+claimbridge('8_9', 'hori')
				+claimbox-light(9)
				+claimbridge('9_10', 'hori')
				+claimbox-light(10)
			.claims-seprow.flex
				each num in range(6,10)
					+claimbridge(`${num}_${num+5}`, 'vert')
			.claimsrow.flex
				+claimbox-darkness(11)
				+claimbridge('11_12', 'hori')
				+claimbox-darkness(12)
				+claimbridge('12_13', 'hori')
				+claimbox-neutral(13)
				+claimbridge('13_14', 'hori')
				+claimbox-neutral(14)
				+claimbridge('14_15', 'hori')
				+claimbox-light(15)
			fieldset.repeating_claim
				.claims-seprow.flex
					each num in range(1,5)
						+claimbridge(`top_${num}`, 'vert')
				.claimsrow.flex
					each num in range(1,5)
						+claimbox-neutral(num)
						if (num !== 5)
							+claimbridge(`${num}_${num+1}`, 'hori')
		// Heat and Coin
		.col100.flex.heat-and-vault.def-margin
			// Heat
			.col45.flex.heat
				// Heat markers
				.heat1.blackheader
					.label(data-i18n='heat')
				.heat2.blackborder.flex
					+radio('heat')(value='0', checked).tooth.zero
					//- generates 10 heat boxes
					each num in range(1,10)
						+radio('heat')(value=num).tooth.stresstooth
				// Wanted Level
				.heat3
					.blackheader
						+roll('Wanted', '{{vice=1}} {{short=1}} {{title=^{entanglement}}} {{subtitle=^{wantedroll1}@{heat}&nbsp;^{heat}^{wantedroll2}}} @{wanted_formula}')(data-i18n='wanted').label.inherit.rollbutton
						+hidden-input('wanted_formula')(value=zerodiceFormula)
					.wantedholder.flex
						+radio('wanted')(value='0', checked).tooth.zero
						//- generates 4 wanted boxes
						each num in range(1,4)
							+radio('wanted')(value=num).tooth.regulartooth
			// Coin
			.crewcoin.col52b
				.col100.flex
					.blackheader.crewcoin1
						.label(data-i18n='coin')
					.greyheader.crewcoin2
						.label(data-i18n='vaults')
				.col100.flex.crewcoin-coins
					+coinbox('possecoin1')
					+coinbox('possecoin2')
					+coinbox('possecoin3')
					+coinbox('possecoin4')
					.crewcoinbar
					+coinbox('vaultcoin01')
					+coinbox('vaultcoin02')
					+coinbox('vaultcoin03')
					+coinbox('vaultcoin04')
					.crewcoinbar
					+coinbox('vaultcoin05')
					+coinbox('vaultcoin06')
					+coinbox('vaultcoin07')
					+coinbox('vaultcoin08')
					+coinbox('vaultcoin09')
					+coinbox('vaultcoin10')
					+coinbox('vaultcoin11')
					+coinbox('vaultcoin12')
				.col100.crewcoin-desc(data-i18n='upon_crew_advance')
		// Special abilities
		.col100.def-margin
			.specialheader.col100.label(data-i18n='special_abilities')
			.greyholder.col100
				fieldset.repeating_crewability
					.specialability.flex
						+broadcast('Show', '{{charname=@{character_name}}} {{type=^{special_ability}}} {{title=@{name}}} {{content=@{description}}}')
						+checkbox('check').checkbox.circlebox
						+autoexpand('name')(data-i18n-placeholder='ability_name').abilityname.smallcaps
						+autoexpand('description')(data-i18n-placeholder='ability_description').abilitydesc
		// Advancement
		.col100.def-margin
			.advancement-header.flex.blackheader
				.label.markxp(data-i18n='mark_xp:')
				.label(data-i18n='crew_advancement')
				.xpholder.flex
					+radio('crew_xp')(value='0', checked).tooth.zero
					//- up to 10 XP
					each num in range(1,10)
						+radio('crew_xp')(value=num).tooth.xptooth
			ul.advancement-desc
				li.nondot(data-i18n='xp_top')
				li
					+autoexpand('crew_xp_condition')(data-i18n-placeholder='xp_crew_specific')
				+hidden-input('setting_extra_xp')(value='0').hider
				li
					+autoexpand('xp_condition_extra')(data-i18n-placeholder='xp_specific_extra')
				li(data-i18n='xp_contend')
				li(data-i18n='xp_bolster')
				li(data-i18n='xp_express')
	// Right column
	.col45.flex-wrap.right-column
		// Crew Type
		.playbook.flex
			+text-input('crew_type')(data-i18n-placeholder='crew', placeholder='Crew').label
			+textarea('crew_description')(data-i18n-placeholder='crew_description', placeholder='A short crew description').label
			+hidden-input('show_playbook_reminder')(value='1').hider
			.reminder
				span(data-i18n='autofill_reminder_crew')
				br
				span(data-i18n='list_crews')
		// Upgrades and Hunting Grounds
		.col53.small-margin
			// Upgrades
			.itemheader.col100
				span.label(data-i18n='crew_upgrades')
			.itemholder.col100.upgrades
				// Specific upgrades
				.playbookitems.col100.free-repcontrol
					fieldset.repeating_upgrade
						+hidden-input('boxes_chosen')(value='0').boxes-chosen
						.item.numboxes-chooser
							div(data-i18n='how_many_boxes')
							+number-input('numboxes')(min='1', max='3', value='1')
							label
								+checkbox('boxes_chosen')(data-i18n='ok')
						.item
							+hidden-input('numboxes')(value='1').numboxes
							+checkbox('check_1').checkbox.squarebox
							span.floatingbar.boxesgeq2
							+checkbox('check_2', 'boxesgeq2').checkbox.squarebox
							span.floatingbar.boxesgeq3.boxesgeq2
							+checkbox('check_3', 'boxesgeq2 boxesgeq3').checkbox.squarebox
							+autoexpand('name')(data-i18n-placeholder='an_upgrade').itemname
						.item-description
							+checkbox('expand').expand
							+textarea('description')(data-i18n-placeholder='description')
				// Regular upgrades
				.regularitems.flex-wrap.col100
					.item.col100
						span.label(data-i18n='lair')
					+makeupgrade(1, 2, 'carriage', 'upgrade_carriage_description')
					+makeupgrade(2, 1, 'hidden', 'upgrade_hidden_description')
					+makeupgrade(3, 1, 'quarters', 'upgrade_quarters_description')
					+makeupgrade(4, 2, 'secure', 'upgrade_secure_description')
					+makeupgrade(5, 2, 'vault', 'upgrade_vault_description')
					+makeupgrade(6, 1, 'workshop', 'upgrade_workshop_description')
					+makeupgrade100(7, 1, 'escape_tunnel', 'upgrade_escape_tunnel_description')
					+makeupgrade100(8, 2, 'hellstone_storage', 'upgrade_hellstone_storage_description')
					+makeupgrade100(9, 1, 'rail_connection', 'upgrade_rail_connection_description')
					.item.col100
						span.label(data-i18n='quality')
					+makeupgrade(10, 1, 'documents', 'upgrade_documents_description')
					+makeupgrade(11, 1, 'gear', 'upgrade_gear_description')
					+makeupgrade(12, 1, 'implements', 'upgrade_implements_description')
					+makeupgrade(13, 1, 'supplies', 'upgrade_supplies_description')
					+makeupgrade(14, 1, 'weapons', 'upgrade_weapons_description')
					+makeupgrade(15, 1, 'tools', 'upgrade_tools_description')
					+makeupgrade(16, 1, 'horses', 'upgrade_horses_description')
					.col50
						.item
							each num in range(1,3)
								+checkbox(`upgrade_17_check_${num}`).checkbox.squarebox
								if (num < 3)
									span.floatingbar
							+text-input('upgrade_17_name', 'hellstone').itemname
						.item-description
							+checkbox('upgrade_17_expand').expand
							+textarea('upgrade_17_description', 'upgrade_hellstone_description')(data-i18n-placeholder='description')
					.item.upgradecaption.col100
						span.label(data-i18n='training')
					+makeupgrade(20, 1, 'insight', 'upgrade_insight_description')
					+makeupgrade(21, 1, 'prowess', 'upgrade_prowess_description')
					+makeupgrade(22, 1, 'guts', 'upgrade_guts_description')
					+makeupgrade(23, 1, 'personal', 'upgrade_personal_description')
					.col100
						.item
							each num in range(1,4)
								+checkbox(`upgrade_24_check_${num}`).checkbox.squarebox
								if (num < 4)
									span.floatingbar
							+text-input('upgrade_24_name', 'mastery').itemname
						.item-description
							+checkbox('upgrade_24_expand').expand
							+textarea('upgrade_24_description', 'upgrade_mastery_description')(data-i18n-placeholder='description')
			.hunting-grounds.col100.def-margin
				+autoexpand('hunting_grounds_type')(data-i18n-placeholder='hunting_grounds').plainheader.label
				+autoexpand('hunting_grounds_description')(data-i18n-placeholder='hunting_grounds_description').description
			+fortuneroll('Engagement', '{{action=1}} {{short=1}} {{small-title=1}} {{subtitle=^{roll_for}}} {{title=^{engagement}}}')(data-i18n='roll_engagement').engagementbutton.borderbutton
		// Cohorts and Contacts
		.col47.right-column.small-margin
			// First Cohort
			+makecohort('cohort1_')
			// Cohort repeating section
			.col100.cohorts.free-repcontrol
				fieldset.repeating_cohort
					+makecohort('')
			// Contacts
			.col100.def-margin.contacts
				.specialheader.col100.label.flex
					+text-input('contacts_title', 'contacts').inherit
				.greyholder.col100
					fieldset.repeating_contact
						.friend-contact.contact.flex
							+hidden-input('check')(value='0').friendstate
							label
								+checkbox('check').checkbox
							+autoexpand('name')(data-i18n-placeholder='contact_name')
						+checkbox(null).expand
						+textarea('description')(data-i18n-placeholder='notes').description
			// Roll Fortune
			+fortuneroll('Fortune_crew', '{{fortune=1}} {{subtitle=^{roll}}} {{title=^{fortune}}}', true)(data-i18n='roll_fortune').fortunebutton.borderbutton
		// Clocks
		.col100.clocks.def-margin.free-repcontrol
			.specialheader.label(data-i18n='clocks')
			fieldset.repeating_crewclock
				+makeclock
		+textarea('crew_notes')(data-i18n-placeholder='notes').notes
